<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN </h1>
    <form action="/login" method="POST">
        <label for="name">Enter Name</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="email">Enter Email</label><br>
        <input type="email" name="email" id="email"><br>
        <label for="pass">Enter Password</label><br>
        <input type="password" name="pass" id="pass"><br>
        <button >Submit</button><br>
        <a href="/register">Register</a><br>
        <a href="/">Back To Home</a>
    </form>
    
    {% if error %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}
</body>
</html>